# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/

# Generated project files
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
.pytest_cache/

# Logs
logs/

# VS Code
.vscode/
